@font-face {
    src: url(../../public/CONSOLA.TTF);
    font-family: consola;
}

.container{
    width: 100%;
    text-align: center;
    height: auto;
    display: inline-grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
    color: #333;
}


.title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2173913043;
    color: #1a1a1a;
}
.underTitle{
    font-size: 0.9rem;
    color: #333;
}

.topLinks{
    text-align: right;
    padding: 2%;

}
.iconContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:11%;
}

.linkedinIcon{
    width: 1%;
    cursor: pointer;
    color: #686868;
}

.searchIcon{
    width: 5%;
    cursor: pointer;
    color: #333;
    margin-right: 6%;
}


.list {
    list-style-type: none;
    text-align: left;
}

.contentLink{
    color: #333;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
}

.customYear{
    font-size: 30px;
    font-weight: 600;
}

.customDate{
    font-family: consola, Monospace, serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}

.content{
    margin-top:2rem;
    font-family: montserrat,helvetica neue,sans-serif;
    width: 100%;
    text-align: center;
    height: auto;
    display: inline-grid;
    line-height: 1.75;
    color: #333;
    font-size: 1.75rem;
    font-weight: 600;
}

.contexts{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    max-width: 50rem;
    text-align: left;
    place-items: center;
    margin: auto;
}

.navLinks{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 53%;
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    text-align: left;
    font-family: Montserrat,helvetica neue,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1a1a1a;
    line-height: 1.2173913043;
    padding-top: 1rem;
    padding-bottom: 2rem;
    cursor: pointer;
}
.prevnext {
    color: #686868;
    font-family: noto sans, Georgia, serif;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.09rem;
    margin-top: 1rem;
    cursor: pointer;
}

.buttons{
    text-decoration: none;
    width: 53%;
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    text-align: left;
    font-family: Montserrat,helvetica neue,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1a1a1a;
    line-height: 1.2173913043;
    padding-top: 1rem;
    padding-bottom: 2rem;
    cursor: pointer;
}